:root {
  --color-contrast: white;
  --bright-dir-contrast: 1;
  --bright-dir-uncontrast: -1;
  --color-uncontrast: black;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  --cell-w: 100px;
  --cell-h: 30px;
  .line-0 {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .col-0 {
    --cell-w: 50px;
    position: sticky;
    left: 0;
  }
}

.app {
  .btn-cyan {
    background-color: var(--bg-btn-soft);
    padding: 5px;
    cursor: pointer;
    &:hover {
      filter: brightness(calc(1 + 0.5 * var(--bright-dir-uncontrast))) sepia(1)
        saturate(2) hue-rotate(120deg);
    }
  }
}

.app {
  --bg-btn-soft: rgba(128, 128, 128, 0.1);
  --bg-btn-soft2: rgba(128, 128, 128, 0.3);
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;

  .container-matriz {
    position: relative;
    overflow: scroll;
    .matriz {
      display: flex;
      flex-direction: column;
      width: max-content;
      .line {
        width: max-content;
        display: flex;
        flex-direction: row;
        min-height: 20px;
        .cell {
          width: var(--cell-w) !important;
          height: var(--cell-h);
          min-height: 2px;
          min-width: 2px;
          padding: 3px;
          border: 1px solid var(--bg-btn-soft);
          &.control {
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            user-select: none;

            font-weight: bolder;
            &.col {
              background: rgba(255, 168, 168, 0.2);
              position: relative;

              .resize-col {
                cursor: col-resize;
                position: absolute;
                top: 0;
                right: 0;
                width: 5px;
                height: 100%;
              }
              &:hover {
                border-right: 1px solid var(--color-contrast);
                border-left: 1px solid var(--color-contrast);
                &:active {
                  background: rgba(255, 168, 168, 0.5);
                }
              }
            }
            &.row {
              background: rgba(184, 255, 184, 0.1);
              &:hover {
                border-top: 1px solid var(--color-contrast);
                border-bottom: 1px solid var(--color-contrast);
                &:active {
                  background: rgba(184, 255, 184, 0.5);
                }
              }
            }
            &.origin {
              background: var(--color-uncontrast);
              border: 2px solid gray;
              z-index: 11;
            }

            &:hover {
              filter: brightness(3);
              &:active {
                filter: brightness(5) hue-rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
  .barra-de-herramientas {
    .menu-compacto {
      display: flex;
      gap: 10px;
      background: var(--bg-btn-soft2);
      margin-top: 10px;
      .group {
        padding: 4px 7px;
      }
    }
    .desplegable {
      display: flex;
      align-items: center;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }
      .titulo {
        .nombre {
          font-size: 18px;
          font-weight: bolder;

          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 10px;
          padding: 10px;
        }
        .menu {
          span {
            font-size: smaller;
            font-weight: lighter;
            padding: 5px 10px;

            background-color: var(--bg-btn-soft);

            &:hover {
              cursor: pointer;
              filter: brightness(2);
            }
          }
        }
      }
    }
  }

  .estado {
    padding: 5px;

    display: flex;

    .pestañas-de-hojas {
      margin: 0 10px;
      display: flex;
      gap: 10px;
      .scroll {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contenido {
        gap: 5px;
        display: flex;
        align-items: center;
        width: max-content;
        min-width: 300px;
        max-width: 80vw;
        overflow: hidden;
        .hoja {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          padding: 0 5px;
          align-items: center;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 10px 10px 0 0;
          &:has(input:checked) {
            background-color: var(--color-uncontrast);
            filter: invert(1);
          }
          label {
            white-space: nowrap;
          }
          input {
            display: none;
          }
          .opns {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 80%;
            padding: 0 5px;
          }
        }
      }
    }
  }
}

* {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-uncontrast);
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
  }
}
